
.mine-sweeper {
  height: 100%;
}

.mine-sweeper button.tile {
  width: 10%;
  height: 10%;
  color: #10364d;
}

.mine-sweeper button.tile.flag,
.mine-sweeper button.tile.unseen {
  background-color: #d6d6d6;
  color: #d6d6d6;
}

.mine-sweeper button.tile.flag {
  color: #e63939;
}

div.gameover {
  position: absolute;
  background-color: #e63939;
  color: #e63939;
  background: #e63939;
  opacity: 0.4;
  width: 50rem;
  height: 50rem;
  max-width: 50rem;
  max-height: 50rem;
  min-width: 50rem;
  min-height: 50rem;
  z-index: 200;
}
